*{
    margin: 0;padding: 0;
}
a{
text-decoration: none;
  }

li{
  list-style: none;
}
img{
    vertical-align: middle;
}
header {
    height: 150px;
    position: relative;
box-sizing: border-box;
}
header .header-top{
height: 50px;
box-sizing: border-box;
border-bottom: 1px solid #cccccc;
padding-right: 70px;
}
.header-top .right{
    float: right;
    height: 50px;
    line-height: 49px;
    display: flex;
    align-items: center;
}
.header-top .right img{
    width: 100%;
    height: 100%;
}
.header-top .topbar-user {
    display: inline-block;margin-right: 30px; 
    line-height: 49px;height: 49px;
    box-sizing: border-box;
    color: #a5a5a5;
}

.header-top .topbar-user a {
    color: #a5a5a5;
    display: inline-block;
}
.header-top .topbar-cart{
    display: inline-block;
    margin-right: 30px;
    width: 20px;
    height: 20px;
    background: url(../img/header-server.jpg.svg) no-repeat;
}
.topbar-service{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/header-cart.svg) no-repeat;
}
/* 导航------------------------------------------------------------------- */
.header-nav {          
    height: 96px;
    line-height: 96px;
    box-sizing: border-box;
}
.header-nav .header-logo{
    float: left;
    padding-left: 50px;
    margin-right: 70px;;
}
.header-nav .logo-inner a img {
    width: 53px;
    height: 29px;
}

.header-nav .nav-list{
    float: right;
    box-sizing: border-box;
    margin-right: 70px;
}
.header-nav .nav-list .nav-item{
    margin: 0 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    

}
.header-nav .nav-list .last{
    text-align: center;
}

.header-nav .nav-list .nav-item a{
    font-size: 17px;
    display: inline-block;
    color: #000;
    font-family: "微软雅黑";
    font-weight: bolder;
}
.header-nav .nav-list .nav-item:hover {
   
    border-bottom: 4px solid #dd0000;
}

.header-nav .nav-list .nav-item.last:hover {
    border:none;
}
.nav-search-box{
    /* margin-top: 0; */
    width: 212px;
    height: 40px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 0;
    box-sizing: border-box;
}  
.nav-search-box .nav-search-btn  {
    width: 20px;
    height: 20px;
    padding-right: 13px;
    display: inline-block;
    background: url(..//img/header-search.svg) no-repeat;
    vertical-align: middle;
    border-right: 1px solid #ccc;
}   
.nav-search-box .nav-search-input{
    width: 150px;
    height: 26px;
    border: none;
    font-weight: normal;
}
/* 二级导航开始-------------------------------------- */

/* 二级导航 panel */
.sub-nav-panel{
display: none;
font: normal 12px "微软雅黑",Arial,sans-serif;
font-weight: 400;
list-style: none;
box-sizing: border-box;
position: absolute;
background: #fff;
z-index: 2;
text-align: center;
width: 100%;
left: 0;
top: 154px;
overflow-x: hidden;
padding-top: 30px;
}
/* 男子二级导航 =======================================*/
.two-man .outline{
 width: 1295px;
 height: 300px;
padding-left: 50px;
}
.two-man .outline .first{
    border-left: none;
    width: 120px;
    height: 310px;
}

.two-man .outline .sub-nav-item .cate-list{
    width: 150px;
    height: 310px;
}
.two-man .outline .sub-nav-item .cate-title a{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-bottom: 5px;
}
.two-man .outline .sub-nav-item .cate-list  li a{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.two-man .outline .sub-hot{
    width: 240px;
    height: 152px;
    border-left: 1px solid #ccc;
    
}
/* 女子二级导航 ==========================================*/
.two-woman .outline{
    width: 1114px;
    height: 300px;
padding-left: 100px;

}

.two-woman .outline .first{
    border-left: none;
    width: 120px;
    height: 310px;
}

.two-woman .outline .sub-nav-item .cate-list{
    width: 150px;
    height: 310px;
}
.two-woman .outline .sub-nav-item .cate-title a{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-bottom: 5px;
}
.two-woman .outline .sub-nav-item .cate-list  li a{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.two-woman .outline .sub-hot{
    width: 240px;
    height: 152px;
    border-left: 1px solid #ccc;
    
}

/* 儿童二级导航 ==========================================*/
.two-child .outline{
    
    height: 300px;
padding-left: 100px;

}
.two-child .outline .first{
    border-left: none;
    width: 120px;
    height: 310px;
}

.two-child .outline .sub-nav-item .cate-list{
    width: 150px;
    height: 310px;
    
}
.two-child .outline .sub-nav-item .cate-title a{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-bottom: 5px;
}
.two-child .outline .sub-nav-item .cate-list  li a{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.two-child .outline .sub-hot{
    width: 271px;
    height: 295px;
    border-left: 1px solid #ccc;

}
.two-child .outline .sub-hot .bdtop{
    width: 220px;
    height: 123px;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

/* 共同=============================================================== */
.sub-nav-panel .sub-nav-item{
    padding-left: 30px;
    border-left: 1px solid #ccc;
    float: left;
    text-align: left;
}
/* =========================================================== */
.sub-nav-panel .sub-nav-item ul {
    width: 100px;
}
.sub-nav-panel .newtag-list li{
    height: 25px;
    line-height: 25px;
    margin-bottom: 3px;
    margin: 0;
    padding-right: 30px;
    /* white-space: nowrap; */
    border: none;
    
}
 .sub-nav-panel .newtag-list li a{
    font-size: 14px;
    color: #000;
    display: inline-block;
    font-weight: normal;

}


 /* 第二列 ---------------------------*/


 .sub-nav-panel .sub-hot
 {
     border: none;
 }
.sub-nav-panel .sub-nav-item .cate-title{
     padding-top: 0;
    height: 30px;
    
    /* margin-bottom: -21px; */
    /* margin-bottom: -5px; */
 }
 .sub-nav-panel .sub-nav-item .cate-title a{
     font-size: 14px;
     font-weight: 600;
     display: inline-block;
     height:100%;
    
 }
.sub-nav-panel .sub-nav-item .cate-list{
     float: left;
     width: 130px;
 }
.sub-nav-panel .sub-nav-item .cate-list li{
     height: 25px;
 }
.sub-nav-panel .sub-nav-item .cate-list li a{
     font-weight: normal;
     font-size: 13px;
     height: 25px; 
 }

 /* 最后一列 */
 .sub-nav-panel .sub-nav-inner .sub-hot{
border-left: 1px solid #ccc;
height: auto;
/* margin-right: 20px; */
 }

 .sub-nav-panel .sub-nav-item .hot-title a{
     font-size: 14px;
     font-weight: 600;
     color: #000;
     line-height: 20px;
     margin-bottom: 5px;
     position: relative;
     overflow: initial;
  }
  .sub-nav-panel .sub-nav-item .hot-list li{
      padding-bottom: 10px;
  }
  .sub-nav-panel .sub-nav-item .hot-list li a span{
    color: #999;
    line-height: 40px;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
 }


.sub-hot ul{width:220px}

 .hot-list li
 {height:auto;margin-bottom:20px;padding-bottom:10px}

.hot-list li a,.hot-list li img,.hot-list li span
{display:block}

.hot-list li span
{
color:#999;
line-height:40px;
height:40px;
width:100%;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}


/* 二级导航结束--------------------------------------- */
/* main主体区域 */
.main{
    padding-bottom: 50px;
    border-top :1px solid #ccc ;
   
}
/* select区域开始==================================== */
.select-box{
    width: 260px;
    height: 857px;
    float: left;
    margin-left: 60px;
}
.select-box .renew{
    width: 260px;
    height: 80px;
    margin-top: 7px;
    line-height: 80px;
    font-size: 24px;
    color: #000;
    border-bottom: 1px  solid #ccc;
}
.select-box .renew a{
    display: block;
    height: 36px;
    line-height: 34px;
    font-size: 15px;
    width: 70px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    letter-spacing: 3px;
    margin-top: 22px;
    float: right;
}
.select-box .sex{
    width: 260px;
    height: 195px;
    /* margin-bottom: 25px; */

}
.select-box .sex .sex-title{
    width: 260px;
    height:24px;
    padding: 25px 0;
}
.select-box .sex .sex-title span {
font: normal 12px "微软雅黑",Arial,sans-serif;
line-height: 25px;
color: #333;
font-size: 17px;
font-weight: 600;
letter-spacing: 1px;
float: left;

}
.select-box .sex  .sex-list{
    width: 260px;
    height: 120px;
    padding-bottom: 25px;
}
.select-box .sex  .sex-list li{
    width: 260px;
    height: 20px;
    padding: 5px 0;
}
.select-box .sex  .sex-list li a{
    color: #333;
    font-size: 12px;
}

.select-box .select-item{
    width: 260px;
}
.select-box .select-item .sub-title{
   width: 260px;
   height: 25px;
    padding: 25px 0;
    border-top: 1px solid #ccc;
    line-height: 25px;
    color: #333;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}
.select-box .select-item .sub-title span{
    display: block;
    float: left;

}
.select-box .select-item .sub-title  i{
    display: block;
   float: right;
}



    /* @font-face {
        font-family: 'iconfont';  /* project id 1683279
        src: url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.eot');
        src: url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.woff') format('woff'),
        url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1683279_t2t3qglo2sc.svg#iconfont') format('svg');
      }
      .iconfont{
        font-family:"iconfont" !important;
        font-size:16px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;} */ 

/* select区域结束==================================================== */
.good-list{
    margin-left: 340px;
    
}
.good-list .list-outline{
    padding-top: 20px;
}
.good-caption{
    width: 630px;
    height: 75px;
    padding-left: 20px;
    float: left;
}
 .good-caption .cap-title{
     font-size: 35px;
     font-weight: 700;
     line-height: 75px;
     height: 75px;
 }
 .good-caption .cap-title span{
    margin-left: 10px;
    font-style: normal;
    font-size: 25px;
    color: #999;
    font-weight: 400;
 }
 /* =================================================== */
.good-nav{
    max-width: 350px;
    padding-right: 10px;
    float: right;
    text-align: right;
    
}
.good-nav .nav-top{
width: 140px;
height: 77px;
}
.good-nav .nav-top .nav-top-cap{
    margin: 17px 0;
    padding-left: 5px;
    padding-right: 40px;
    height: 40px;
    min-width: 140px;
    text-align: center;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 38px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 40px 0 5px;
    font-size: 14px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.good-nav .nav-bottom{
    margin: 10px 0;
    display: flex;
}
.good-nav .nav-bottom .nav-b-all{
    width: 60px;
    height: 36px;
    position: relative;
}
.nav-b-show{
    height: 34px;
    line-height: 34px;
    min-width: 28px;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.nav-bottom span{
    margin-left: 5px;
}
.nav-b-before{
    display: inline-block;

    height: 36px;
    line-height: 34px;
    vertical-align: middle;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 5px;
    background: #fff;
    position: relative;
}
.nav-b-after{
    display: inline-block;
    height: 36px;
    line-height: 34px;
    vertical-align: middle;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 5px;
    background: #fff;
    position: relative;
}

 /* =================================================== */

.good-main{
    float: left;
    width: 100%;
    background-color: #0ff;
    
}
.good-main .good-item{
    width: 250px;
    height: 310px;
    float: left;

}
.good-main .good-item .good-body{
    width: 220px;
    height:280px;
    padding: 15px;
}
.good-main .good-item .good-body .pimg img{
    width: 100%;
}
.good-main .good-item .good-body .pdesc{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.good-main .good-item .good-body .pprice {
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
/* ================================================ */


 /* =================================================== */

.good-footer{
    padding-right: 10px;
    background-color: #ff0;
    float: right;
}
.good-footer .nav-bottom{
    margin: 10px 0;
    display: flex;
}
.good-footer .nav-bottom .nav-b-all{
    width: 60px;
    height: 36px;
    position: relative;
}
/* .nav-b-show{
    height: 34px;
    line-height: 34px;
    min-width: 28px;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    text-align: center;
    z-index: 1;
} */
.nav-footer span{
    margin-left: 5px;
}


/*good-list 区域结束 ====================================================== */

/* footer------------------------------------------- */
footer{
    height: 242px;
    background-color: #000;
    clear: both;
}
footer .footer{
    width: 1280px;
   margin: 0 auto;
   padding: 50px 0;

}
footer .footer .ft-logo{
    width: 250px;
    height: 118px;
    float: left;
    
}
footer .footer .ft-list{
    width: 900px;
    height: 110px;
    float: right;
    display: flex;
   flex-direction: column;
}
.footer .links-line li{
    float: left;
    border-right: 1px solid #fff;
    margin: 0 15px 0 0 ;
    padding-right: 15px;
 }
 .footer .links-line .last-one{
    border: none}


.footer .links-line li a{
    color: #fff;
    cursor: pointer;

}
.footer .ft-company span {
    color: #fff;
}
.footer .ft-company{
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer .ft-company a{
    color: #fff;
    cursor: pointer;

}
.footer .links-line li a:hover{
    text-decoration: none;

}
.footer .ft-company a:hover{
    text-decoration: none;
}
/* 回到顶部 */
#getTop{
    background: url(https://anta-cn-web.obs.myhwclouds.com/theme/images/icons/web-cover.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 999;
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 275px;
}

#getTop a {
    display: block;
    position: absolute;
    width: 100%;
    height: 33.33%;
    right: initial;
    bottom: initial;
    left: 0;
    cursor: pointer;}
#getTop .goto-top{
        cursor: pointer;
        height: 91px;
    }
#getTop .cover-top {top: 0;}
#getTop .cover-cart {top: 33.33%;
height: 91px;}
#getTop .cover-kefu {top: 66.66%;
height: 91px;}
