header{
   height: 150px;
}
.header{
   height: 5px;
}
.header-nav{
   height: 100px;
}
// footer
.footer{
   height: 170px;
   background-color: #000000;
}
.footer .ft-main{
   float: right;
}
.footer .ft-slogan{
float: left;
}
.footer .ft-slogan img{
   width: 250px;
   height: 96px;
}
.footer .links-line{
   float: left;
}
.main-ft{
   height: 279px;
   background-color: #dd0000;
   .weixin{
      margin: 0 auto;
   }
}